.header {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 546px;
  background-color: #f9f9f9;
  background-image: url(../../images/Ellipse_1440px.svg);
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100vw;
    background-image: url(../../images/Ellipse_768.svg);
    min-height: 409px;
    gap: 30px;
  }
}

@media screen and (max-width: 474px) {
  .header {
    width: 100%;
    gap: 0;
    min-height: 519px;
    background-image: url(../../images/Ellipse_320.svg);
   
  }
}
.header__container {
  padding: 21.85px 0 0 0;
  margin: 0;
  justify-self: center;
  display: grid;
  grid-template-areas:
    "image title"
    "image subtitle";
  align-items: start;
  justify-content: center;
  gap: 52px 21px;
  grid-template-columns: 326px 437px;
  grid-template-rows: 166px 1fr;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__container {
    grid-template-columns: 227px 325px;
    gap: 10px;
    padding-top: 20.85px;
  }
}
@media screen and (max-width: 620px) {
  .header__container {
    grid-template-columns: 227px 265px;
    gap: 5px;
  }
}

@media screen and (max-width: 474px) {
  .header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 21.85px;
    gap: 0;
  }
}
.header__title {
  margin: 0;
  padding: 46px 0 0;
  color: #ff5c00;
  max-width: 437px;
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2; /* 60px */
}
.header__title::first-line {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header__title {
    font-size: 36px;
    padding-top: 25px;
  }
}
@media screen and (max-width: 580px) {
  .header__title {
    font-size: 32px;
    max-width: 300px;
  }
}
@media screen and (max-width: 474px) {
  .header__title {
    font-size: 30px;

    text-align: center;
    padding-top: 0;
  }
}
.header__subtitle {
  grid-area: subtitle;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .header__subtitle {
    font-size: 12px;
    line-height: 1;
  }
}

@media screen and (max-width: 580px) {
  .header__subtitle {
    padding-top: 16px;
  }
}
.header__image {
  grid-area: image;
  width: 326px;
  height: 326px;
}

@media screen and (max-width: 768px) {
  .header__image {
    width: 227px;
    height: 229px;
  }
}

@media screen and (max-width: 420px) {
  .header__image {
    padding-top: 19px;
  }
}
.header__logo-container {
  margin: 0;
  padding: 21.85px 0 0 0;
  align-self: center;
  display: flex;
  gap: 4px;
  align-items: center;
}
.header__logo {
  width: 114.38px;
  height: 18.26px;
}
