.list {
    list-style: none;
    padding: 0 0 16px 0;
    margin: 12px 0 0 0;
    width: 100%;
    border-top: 1px solid #f2f2f3;
    font-size: 0;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0 0 0;
  }
  .special {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #000;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
  }
  .summary {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0 24px 0;
  }
  .summary_heading {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
  }
  .summary_count {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
  }
  