.delivery {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #ffab08 50%, #f9f9f9 50%);
  padding: 24px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .delivery {
    background: #f9f9f9;
    padding: 16px;
    padding-bottom: 24px;
  }
}
@media screen and (max-width: 524px) {
  .delivery {
    height: 100%;
    padding: 32px 10px;
  }
}
@media screen and (max-width: 768px) {
  .image {
    display: none;
  }
}
.form {
  width: 294px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 16px 0 0 0;
  min-height: 364px;
}

@media screen and (max-width: 768px) {
  .form {
    align-self: flex-start;
    width: 300px;
    padding: 0;
    min-height: 300px;
  }
}
@media screen and (max-width: 524px) {
  .form {
    min-height: 100%;
  }
}
.inputs {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 16px;
}
.title {
  color: #000;
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 24px */
  margin: 0;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 16px;
    padding-top: 4px;
  }
}


.input {
  display: block;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid #f2f2f3;
  background: #fff;
  height: 40px;
  box-sizing: border-box;
}

.input::placeholder {
  color: #b1b1b1;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3; /* 15.6px */
}

@media screen and (max-width: 768px) {
  .input {
    height: 30px;
  }
  .input::placeholder {
    font-size: 10px;
  }
}
.input_size_large {
  composes: input;
  width: 100%;
}
.input_size_small {
  composes: input;
  width: 143px;
  display: inline-block;
}
.adress {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  border: none;
  margin: 0;
  padding: 0 0 16px 0;
  width: 294px;
}
@media screen and (max-width: 768px) {
  .adress {
    padding-bottom: 10px;
  }
}
.label {
  display: flex;
  gap: 8px;
  align-items: center;
}

.text {
  color: #000;
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

@media screen and (max-width: 768px) {
  .text {
    font-size: 10px;
    line-height: 14px;
  }
}
.personal {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
}
.way {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
  gap: 10px;
  align-self: flex-start;
}

@media screen and (max-width: 768px) {
  .way {
    gap: 8px;
  }
}

@media screen and (max-width: 320px) {
  .way {
    padding: 8px 0;
  }
}
.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  display: none;
}

.radio:checked + .pseudo_item {
  background: url(../../images//radio_checked.svg);
  width: 12px;
  height: 12px;
}

.pseudo_item {
  display: inline-block;
  vertical-align: middle; 
  width: 12px;
  height: 12px; /* размеры */
  background: url(../../images/radio.svg);
}

.button {
  padding-bottom: 0;
}
