
.contain {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 300px 1fr;
  padding: 0px 73px 100px 75px ;
  gap: 50px 30px;
  
}
.main {
  position: absolute;
  width: 100%;
  background: #f9f9f9;

}
/* .contain::-webkit-scrollbar-thumb {
  background: #ffab08;
  border: none;
}
.contain::-webkit-scrollbar {
  width: 2px;
} */

@media screen and (max-width: 1224px) {
  .contain {
    padding: 0 30px 100px 32px;
  }
}

@media screen and (max-width: 870px) {
  .contain {
    display: flex;
    flex-direction: column;
    padding: 0 62px 80px 64px;
    gap: 30px 24px;
  }
}

@media screen and (max-width: 584px) {
  .contain {
    padding: 0 8px 80px 10px;
    gap: 30px;
  }
}
.paragraphs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 70vh;
  overflow: scroll;
}
@media screen and (max-width: 1224px) {
  .paragraphs {
    height: 60vh;
  }
}
@media screen and (max-width: 870px) {
  .paragraphs {
    height: 50vh;
  }
}


.paragraphs::-webkit-scrollbar-thumb {
  background: #ffab08;
  border: none;
}
.paragraphs::-webkit-scrollbar {
  width: 2px;
}
