.card {
    width: 300px;
    height: 411px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 8px;
    padding:12px;
    border-radius: 18px;
    background: #fff;
  }
  
  @media screen and (max-width: 1023px) {
     .card {
      width: 145px;
      height: 243px;
      padding: 4px;
      border-radius: 12px;
      gap: 4px;
     }
  }

.button {
    background: #F2F2F3;
    color: #000;
    align-self: center;
    font-family: "Nunito", sans-serif;
    }
    .image {
        padding-bottom: 8px;
    }
    
    @media screen and (max-width: 1023px) {
        .image {
            width: 137px;
            height: 120px;
            object-fit: cover;
            padding: 0;
            border-radius: 8px;
            box-sizing: border-box;
        }
     }
     .price {
        margin: 0;
        color: #000;
        font-family: "Nunito", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 1; /* 24px */
      }
      
      @media screen and (max-width: 1023px) {
        .price {
          font-size: 16px;
          padding-top: 6px;
        }
      }
      .title {
        margin: 0;
        padding: 0 0 21px;
        color: #000;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    }
    
    @media screen and (max-width: 1023px) {
        .title {
            font-size: 12px;
            padding-bottom: 12px;
        }
    }
    .weight {
        margin: 0;
        color: #B1B1B1;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 20.8px */
    }
    
    @media screen and (max-width: 1023px) {
        .weight {
            font-size: 12px;
            padding-bottom: 3px;
        }
    }              