.full_container {
  display: none;
}
@media screen and (max-width: 870px) {
  .full_container {
    background: #fff;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 16px 10px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    position: absolute;
    z-index: 2;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  }
}
@media screen and (max-width: 520px) {
  .full_container {
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.heading {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 1; /* 24px */
}

@media screen and (max-width: 870px) {
  .count {
    align-self: center;
    font-size: 10px;
    line-height: 14px;
    width: 32px;
    height: 16px;
    border: none;
    background: #f2f2f3;
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;

    text-align: center;
  }
}
@media screen and (max-width: 870px) {
  .full_cart_empty {
    display: block;
    margin: 0;
    padding: 16px 0 0 0;
    width: 100%;
    color: #000;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}
