.delivery {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #ffab08 50%, #f9f9f9 50%);
  }

  @media screen and (max-width: 768px) {
    .delivery { 
        justify-content: flex-start;
        background:  #f9f9f9;
        padding-bottom: 24px;
    }
  }